.signupForm {
  margin: 0 auto;
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}
.signupForm h1 {
  text-indent: -9999px;
  background: url(https://www.instagram.com/static/bundles/es6/sprite_core_b20f2a3cd7e4.png/b20f2a3cd7e4.png);
  background-position: -96px 0px;
  width: 180px;
  height: 52px;
  margin: 0 auto;
}

.loginwithsignup {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
}

.APQi1 img {
  height: 40px;
}
