<div class="content-wrapper">
  <div class="dots-wrapper">
    <div class="dots"></div>
  </div>
  <div class="img"><img src="https://i.imgur.com/7Nwk67T.jpg" /></div>
  <div class="wave -one"></div>
  <div class="wave -two"></div>
  <div class="wave -three"></div>
  <div class="user">
    <div class="profile--info">
      <a
        class="btn btn-primary text-light"
        [routerLink]="['/create_profile']"
        routerLinkActive="router-link-active"
        >create Profile</a
      >
      <span class="username mt-2">{{ username }}</span
      ><br /><span class="userquote">{{ email }}</span>
    </div>
    <div class="user-social-wrapper">
      <div class="user-info user-posts"><span>28</span><span>shots</span></div>
      <div class="user-info user-followers">
        <span>164</span><span>followers</span>
      </div>
      <div class="user-info user-following">
        <span>81</span><span>following</span>
      </div>
    </div>
    <a href="#">Follow</a>
    <div class="nav-bar">
      <i class="fa fa-th active" aria-hidden="true"></i>
      <i class="fa fa-list-ul" aria-hidden="true"></i>
      <i class="fa fa-address-book-o" aria-hidden="true"></i>
      <i class="fa fa-bookmark" aria-hidden="true"></i>
    </div>
    <!-- <div class="shots">
      <div class="shot"><img src="https://i.imgur.com/p96Dx5N.png" /></div>
      <div class="shot"><img src="https://i.imgur.com/DqQYs9C.png" /></div>
      <div class="shot"><img src="https://i.imgur.com/0slF26H.png" /></div>
      <div class="shot"><img src="https://i.imgur.com/tfwlQuG.png" /></div>
      <div class="shot"><img src="https://i.imgur.com/mx505rF.png" /></div>
      <div class="shot"><img src="https://i.imgur.com/ahqJFvv.png" /></div>
      <div class="shot"><img src="https://i.imgur.com/9IxlD6e.png" /></div>
      <div class="shot"><img src="https://i.imgur.com/0b9Jkaj.png" /></div>
      <div class="shot"><img src="https://i.imgur.com/AoMm0Ov.png" /></div>
    </div> -->
  </div>
  <div class="menu-bar-wrapper">
    <div class="menu-bar active">
      <i class="fa fa-home" aria-hidden="true"></i>
      <i class="fa fa-search" aria-hidden="true"></i>
      <i class="fa fa-plus" aria-hidden="true"></i>
      <i class="fa fa-heart" aria-hidden="true"></i>
      <i class="fa fa-user active" aria-hidden="true"></i>
    </div>
  </div>
</div>
